button {
    font-family: inherit;
    letter-spacing: inherit;
    align-self: center;
    transition: all .5s ease;
    outline: none;
    box-shadow: 0px 3px 0px 0 hsla(0, 0%, 0%, 0.5);
    background: var(--main-disabled-color);
    background: linear-gradient(0deg, var(--main-disabled-color-dark) 50%, var(--main-disabled-color) 50%);
    border: solid 2px var(--main-disabled-color);
    border-radius: 6px;
    margin: 0.4rem 0.4rem 0 0;
    color: #FFF;
    font-size: 1.5rem;
    cursor: pointer;
}
button.small{
    font-size: 0.9rem;
}

button.primary {
    background: var(--main-primary-color);
    background: linear-gradient(0deg, var(--main-primary-color-dark) 50%, var(--main-primary-color) 50%);
    border: solid 2px var(--main-primary-color);
}
button.secondary {
    background: var(--main-secondary-color);
    background: linear-gradient(0deg, var(--main-secondary-color-dark) 50%, var(--main-secondary-color) 50%);
    border: solid 2px var(--main-secondary-color);
}